<a href="https://colab.research.google.com/github/vaniamv/dataprocessing/blob/main/spark/examples/03-sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/lucprosa/dataeng-basic-course/blob/main/spark/examples/03-sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL
- TempView
- GlobalTempView
- SQL
- Catalog (saveAsTable)

# Setting up PySpark

In [4]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('Spark Course').config('spark.ui.port', '4050').getOrCreate()
sc = spark.sparkContext

In [7]:
lst = [("c1", "v1"), ("c2", "v2"), ("c3", "v3")]
rdd = sc.parallelize(lst)
df = rdd.toDF(["col", "value"])

In [8]:
# TempVIews - Session level
df.createOrReplaceTempView("my_table")
spark.sql("select * from my_table").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
| c3|   v3|
+---+-----+

In [9]:
# GlobalTempViews - Spark application level - global_temp database
df.createOrReplaceGlobalTempView("my_table2")
spark.sql("select * from globaL_temp.my_table2").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
| c3|   v3|
+---+-----+

In [10]:
# interating with catalog
spark.sql("create schema test")
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|     test|
+---------+

In [11]:
df = spark.createDataFrame([("c1", "v1"), ("c2", "v2")], schema=["col", "value"])
df.write.saveAsTable("test.my_table")

In [12]:
# listing tables from test
spark.sql("show tables from test").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|     test| my_table|      false|
|         | my_table|       true|
+---------+---------+-----------+

In [13]:
spark.sql("select * from test.my_table").show()

+---+-----+
|col|value|
+---+-----+
| c1|   v1|
| c2|   v2|
+---+-----+