<a href="https://colab.research.google.com/github/vaniamv/dataprocessing/blob/main/spark_streaming/examples/example_2_rate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Usecase 2
- Reading data from "rate"
- Aggregating data by window time
- Checking results from query in memory

# Setting up PySpark

In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('Test streaming').getOrCreate()

# Write output in memory

In [ ]:
import pyspark.sql.functions as F

# read stream
stream1 = spark.readStream.format("rate").option("rowsPerSecond", 10).load()

# transform
transformed = stream1.withColumn("minute", F.minute("timestamp"))
agg = transformed.groupBy(F.window(transformed.timestamp, "5 seconds")).count()

# write stream in memory
query = (agg.writeStream
.format('memory')
.queryName('my_query')
.outputMode('complete')
.start()
)

In [ ]:
spark.sql("select * from my_query order by window desc").show(10,False)

+------------------------------------------+-----+
|window                                    |count|
+------------------------------------------+-----+
|{2024-11-22 15:45:15, 2024-11-22 15:45:20}|47   |
|{2024-11-22 15:45:10, 2024-11-22 15:45:15}|50   |
|{2024-11-22 15:45:05, 2024-11-22 15:45:10}|50   |
|{2024-11-22 15:45:00, 2024-11-22 15:45:05}|50   |
|{2024-11-22 15:44:55, 2024-11-22 15:45:00}|50   |
|{2024-11-22 15:44:50, 2024-11-22 15:44:55}|50   |
|{2024-11-22 15:44:45, 2024-11-22 15:44:50}|50   |
|{2024-11-22 15:44:40, 2024-11-22 15:44:45}|50   |
|{2024-11-22 15:44:35, 2024-11-22 15:44:40}|50   |
|{2024-11-22 15:44:30, 2024-11-22 15:44:35}|50   |
+------------------------------------------+-----+
only showing top 10 rows

In [ ]:
query.stop()

# Write output as json

In [ ]:
!rm -rf content/output

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql import DataFrame

def save_parquet(df, batch_id):
  (df
   .withColumn("batch_id",F.lit(batch_id))
   .withColumn("load_time",F.current_timestamp())
   .write.mode("append")
   .parquet("content/output/rate_parquet")
  )

# read stream
stream1 = spark.readStream.format("rate").option("rowsPerSecond", 10).load()

# transform
transformed = stream1.withWatermark("timestamp", "5 seconds").withColumn("minute", F.minute("timestamp"))
agg = transformed.groupBy(F.window(transformed.timestamp, "5 seconds")).count()

# write stream as parquet with foreachBatch
query = (agg.writeStream
.option('checkpointLocation', 'content/output/checkpoint')
.trigger(processingTime='20 seconds')
.outputMode('append')
.foreachBatch(save_parquet)
.start()
)

In [ ]:
result = spark.read.format("parquet").load("content/output/rate_parquet/")
result.sort(F.asc("window")).show(100, False)

+------------------------------------------+-----+--------+--------------------------+
|window                                    |count|batch_id|load_time                 |
+------------------------------------------+-----+--------+--------------------------+
|{2024-11-22 16:36:45, 2024-11-22 16:36:50}|17   |2       |2024-11-22 16:37:20.187321|
|{2024-11-22 16:36:50, 2024-11-22 16:36:55}|50   |2       |2024-11-22 16:37:20.187321|
|{2024-11-22 16:36:55, 2024-11-22 16:37:00}|50   |3       |2024-11-22 16:37:40.240769|
|{2024-11-22 16:37:00, 2024-11-22 16:37:05}|50   |3       |2024-11-22 16:37:40.240769|
|{2024-11-22 16:37:05, 2024-11-22 16:37:10}|50   |3       |2024-11-22 16:37:40.240769|
|{2024-11-22 16:37:10, 2024-11-22 16:37:15}|50   |4       |2024-11-22 16:38:00.20902 |
|{2024-11-22 16:37:15, 2024-11-22 16:37:20}|50   |4       |2024-11-22 16:38:00.20902 |
|{2024-11-22 16:37:20, 2024-11-22 16:37:25}|50   |4       |2024-11-22 16:38:00.20902 |
|{2024-11-22 16:37:25, 2024-11-22 16:37:30}|50   |4       |2024-11-22 16:38:00.20902 |
|{2024-11-22 16:37:30, 2024-11-22 16:37:35}|50   |5       |2024-11-22 16:38:20.204491|
|{2024-11-22 16:37:35, 2024-11-22 16:37:40}|50   |5       |2024-11-22 16:38:20.204491|
|{2024-11-22 16:37:40, 2024-11-22 16:37:45}|50   |5       |2024-11-22 16:38:20.204491|
|{2024-11-22 16:37:45, 2024-11-22 16:37:50}|50   |5       |2024-11-22 16:38:20.204491|
+------------------------------------------+-----+--------+--------------------------+

In [ ]:
query.stop()

# Enrich data with faker

In [ ]:
!pip install faker

Collecting faker
  Downloading Faker-33.0.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-33.0.0-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 17.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-33.0.0

In [ ]:
!rm -rf content/output/events

In [ ]:
import pyspark.sql.functions as F
from pyspark.sql import DataFrame
from faker import Faker

def insert_into_table(df, batch_id):
  fake = Faker()
  new_columns = {
      'name': F.lit(fake.name()),
      'address': F.lit(fake.address()),
      'email': F.lit(fake.email()),
      'dob': F.lit(fake.date_of_birth()),
      'phone': F.lit(fake.phone_number())
  }
  df = df.withColumns(new_columns)
  df.write.mode("append").format("parquet").save("content/output/events")

# read stream
df_stream = spark.readStream.format("rate").option("rowsPerSecond", 1).load()

# write stream
query = (df_stream.writeStream
.outputMode('append')
.trigger(processingTime='1 seconds')
.foreachBatch(insert_into_table)
.start()
)

In [ ]:
query.stop()

In [ ]:
spark.read.parquet("content/output/events").show(100, False)

+-----------------------+-----+------------------+-----------------------------------------------------------+----------------------------+----------+---------------------+
|timestamp              |value|name              |address                                                    |email                       |dob       |phone                |
+-----------------------+-----+------------------+-----------------------------------------------------------+----------------------------+----------+---------------------+
|2024-11-22 17:09:40.928|13   |Jennifer Padilla  |4723 Justin Stravenue Apt. 795\nSouth Ashleyville, CT 67628|michaeltorres@example.com   |1916-02-22|+1-868-292-8492x48606|
|2024-11-22 17:09:43.928|16   |Brandon Camacho   |88045 Owens Points Apt. 983\nEast Michelleborough, GU 99123|torresedward@example.net    |1932-09-15|(772)402-8764        |
|2024-11-22 17:09:29.928|2    |Timothy Lopez     |311 Church Throughway Suite 666\nDominguezbury, MH 74128   |gloverlaura@example.net     |1934-03-16|(507)746-9168        |
|2024-11-22 17:09:30.928|3    |Jordan Goodwin PhD|Unit 7962 Box 6328\nDPO AA 80830                           |christopher48@example.net   |1950-08-14|5635485892           |
|2024-11-22 17:09:31.928|4    |Jordan Goodwin PhD|Unit 7962 Box 6328\nDPO AA 80830                           |christopher48@example.net   |1950-08-14|5635485892           |
|2024-11-22 17:09:35.928|8    |Teresa Kim        |141 Travis Hills Suite 933\nNorth Arielview, OK 62545      |morrisdylan@example.net     |2022-12-24|549-905-3641x42100   |
|2024-11-22 17:09:28.928|1    |Terry Ortiz       |42897 Jessica Drive Suite 379\nDiaztown, OH 16669          |christinebaldwin@example.org|1926-06-02|(934)859-1870        |
|2024-11-22 17:09:36.928|9    |William Garrison  |4319 Karen Junction\nMcdonaldside, NM 00564                |powersdawn@example.org      |1975-02-21|(518)344-7585x1578   |
|2024-11-22 17:09:32.928|5    |Jennifer Lloyd    |503 Nicole Flats\nNorth Dustin, GA 38015                   |baxterbrittany@example.com  |1944-04-21|(388)669-7867x77982  |
|2024-11-22 17:09:38.928|11   |Brandon Bradley   |314 Williams Turnpike\nSouth Kaylaton, CA 03974            |ryanjensen@example.com      |2019-05-18|311.569.1608         |
|2024-11-22 17:09:27.928|0    |Tracy Davis       |62231 Courtney Ridge\nSouth Sally, NV 88848                |jasonwolf@example.net       |1947-07-03|+1-889-207-5787x65305|
|2024-11-22 17:09:42.928|15   |Lisa Wilson       |9984 Jonathan Glens Suite 773\nRodgersside, AL 84653       |molly78@example.com         |2020-03-12|7418347065           |
|2024-11-22 17:09:37.928|10   |Heather Sims      |0115 Miller Court\nPort Williamville, MA 26583             |ejones@example.com          |1923-04-20|724-666-4026x647     |
|2024-11-22 17:09:34.928|7    |Jessica Wilson    |274 Martin Harbor\nLake Lisa, GA 35484                     |margaretrandall@example.org |1977-09-15|(866)986-0391        |
|2024-11-22 17:09:39.928|12   |Lindsay Henry     |44338 Ashley Trail\nLarryborough, SC 30519                 |piercetracy@example.org     |1952-03-03|862-338-3227         |
|2024-11-22 17:09:41.928|14   |George Smith      |213 Tyler Cliffs\nWest Amandafurt, PW 58380                |brian63@example.com         |1931-07-12|360.255.7480         |
|2024-11-22 17:09:33.928|6    |Amy Hamilton      |PSC 7718, Box 3814\nAPO AP 62469                           |rachel31@example.com        |1955-11-11|753.276.1547x296     |
+-----------------------+-----+------------------+-----------------------------------------------------------+----------------------------+----------+---------------------+

In [ ]:
query.stop()